<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    @for(item of motorCycles; track item.id){
      <ion-col sizeLg="3" sizeMd="4" sizeSm="6" sizeXl="3" sizeXs="6">
        <ion-card>
          
          <ion-thumbnail>
            <ion-img [src]="item.image"></ion-img>
          </ion-thumbnail>
          
          <ion-label>
            <ion-text color="dark"><strong>{{item.name}}</strong></ion-text>
            <p>
              <ion-text color="dark">
                <strong>{{item.price}}</strong>
              </ion-text>
              
              <ion-text class="rating" color="dark">
                {{item.rating}}
                <ion-icon name="star"color="warning"></ion-icon>
              </ion-text>
            </p>
          </ion-label>
        </ion-card>
      </ion-col>
    }
    <ion-icon></ion-icon>
  </ion-row>
</ion-content>
